@import "../shared/colors.scss";
@import "../shared/mixins.scss";

.response {
    margin: 0px 32px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__background {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 276px;
        height: 50px;
        border-radius: 12px;
        background-color: map-get($colors, soft-background);
        box-shadow: 0px 3px 30px 1px rgba(0, 0, 0, 0.1);
        p {
            margin: 0;
            font-size: 13px;
            opacity: 0.5;
        }
    }
    &__background.label.left {
        width: 100px;
        p {
            padding: 0 25px;
            transition: all 0.3s ease-in-out;
        }
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 3px 30px 1px rgba(0, 0, 0, 0.1);
            p {
                font-size: 15px;
            }
        }
    }
    &__background.value {
        position: relative;
        margin-top: 8px;
        width: 276px;
        height: 48px;
        p {
            margin: 0;
            font-size: 18px;
            opacity: 0.5;
        }
    }
    @include breakpoint-down(md) {
        margin: 0;
        margin-top: 60px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        &__background.label.left {
            margin-top: 8px;
            width: 276px;
            height: 48px;
        }
        .balance{
            position: absolute;
            top: 10px;
            right: 22px;
            width: auto;
            padding: 0 10px;
        }
    }
}
